* {
	padding: 0;
	margin: 0;
}
html,
body {
	height: 100%;
}
.parent {
	font: 20px "microsoft yahei";
	color: white;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
}
.side:before,
.main:before {
	content: '.';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
	overflow: hidden;
	visibility: hidden;
}
.side {
	height: 100%;
	flex-basis: 200px;
	background: red;
}
.main {
	height: 100%;
	flex-grow: 1;
	background: blueviolet;
	margin-left: 10px;
}