#display-block{
	background-color: pink;
}
#display-inline{
	background-color: pink;
}
#display-inline-block{
	display: inline-block;
	background: pink;
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;	
}
.display-visibility{
	border: 1px solid green;
	margin-top: 5px;
}
#display-none{
	display: none;
}
#visibility-hidden{
	visibility: hidden;
}
#horizeontal-center{
	font: 20px/200px "微软雅黑";
	text-align: center;
	width: 980px;
	height: 200px;
	margin: 0 auto;
	background: linear-gradient(45deg,blue,green,yellow);
}
#center-navigation{
	margin: 0 auto;
	width: 980px;
}
#center-navigation ul{
	text-align: center;
	height: 30px;
	background: red;
	font: 12px/30px "微软雅黑";
	
}
#center-navigation li,a{
	width: 100px;
	height: 100%;
	display: inline-block;
}
#center-navigation li{
	margin: 0 5px;	
	list-style: none;
}
#center-navigation a,a:hover{
		text-decoration: none;
		color: #fff;
}
#center-navigation a:hover{
	background: #C00;
}
.z-index{
	position: absolute;
}
#zi1{
	width: 50px;
	height: 50px;
	background: red;
	z-index: -1;
}
#zi2{
	background: blue;
	z-index: -2;
	width: 200px;
	height: 200px;
}

